html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header {
    text-align: center;
    margin-bottom: 6rem;
}

.section-center {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;

}

.section-center img {
    width: 450px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
}

.about {
    max-width: 450px;
    margin-left: 2rem;
    border: 1px solid rgb(71, 71, 71);


}

.btn-container {
    display: flex;
    width: 100%;


}

.tab-btn {
    padding: 1rem;
    width: 100%;
    background: rgb(71, 71, 71);
    text-align: center;
    color: #fff;
}

.tab-btn.active {
    background: #000;
}

.text-container {
    margin-top: 3rem;
    padding: 1rem;
}